<!DOCTYPE html>
<html>

<head>
    <!-- Get styles to apply properly on mobile devices -->
    <meta name="viewport" content="width=device-width, user-scalable=no" />

    <title><%= current_resource.data['title'] %></title>

    <%= stylesheet_link_tag("deck") %>
    <%= javascript_include_tag("deck") %>

    <script>
      Slidedown.fromXHR('raw/<%= File.basename(current_resource.path, ".html") %>.markdown').to('#slides');
    </script>
</head>

<body>
    <div id="slides"></div>

    <footer>
        <%= link_to('Back to list', './') %>
        <span>Deck made with <%= link_to('Slidedown', 'http://danieltao.com/slidedown') %></span>
    </footer>
</body>

</html>
