<!DOCTYPE html>
<html>

<head>
    <title><%= current_resource.data['title'] %></title>

    <%= stylesheet_link_tag("deck") %>
    <%= javascript_include_tag("deck") %>

    <script>
      Slidedown.fromXHR('raw/<%= File.basename(current_resource.path, ".html") %>.markdown').to('#slides');
    </script>
</head>

<body>
    <div id="slides"></div>

    <footer>
        <%= link_to('Back to list', '..') %>
        <span>Deck made with <%= link_to('Slidedown', 'https://github.com/dtao/slidedown') %></span>
    </footer>
</body>

</html>
